---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import heroBg from "@assets/images/bg/hero-bg.png";
import tyBg from "@assets/images/bg/ty-bg.png";
import Hero from "@components/Hero.astro";
import s3Bg from "@assets/images/bg/section-bg-3.png";
import s3Blur from "@assets/images/bg/section-bg-3-blur.png";
import s4Bg from "@assets/images/bg/section-bg-4.png";
import ImageWithBlur from "@components/ImageWithBlur.astro";

import aLister from "@assets/images/client-logos/a-lister.png";
import aListerBlur from "@assets/images/client-logos/a-lister-blur.png";
import expLogo from "@assets/images/client-logos/exp-logo.png";
import expLogoBlur from "@assets/images/client-logos/exp-logo-blur.png";
import riseupLogo from "@assets/images/client-logos/rise-up-logo.png";
import riseupLogoBlur from "@assets/images/client-logos/riseup-logo-blur.jpg";

type VideoMime = "video/webm" | "video/mp4" | "video/ogg";

interface VideoSource {
  src: string;
  type: VideoMime;
}

interface ReviewCard {
  sources: readonly VideoSource[];
  poster?: string;
  name: string;
  position: string;
  rating: number;
}

const reviewCards: ReviewCard[] = [
  {
    sources: [{ src: "/videos/alister.mp4", type: "video/mp4" }],
    name: "Alister Shirazi",
    position: "SaaSPrenuer & Podcast Host",
    rating: 5,
  },
  {
    sources: [{ src: "/videos/jack.mp4", type: "video/mp4" }],
    name: "Jack Healy",
    position: "Wellness Ecommerce Brand Owner",
    rating: 5,
  },
  {
    sources: [{ src: "/videos/terry.mp4", type: "video/mp4" }],
    name: "Terrel",
    position: "Publicist & Enterpreneur",
    rating: 5,
  },
  {
    sources: [
      { src: "/videos/tom.mp4", type: "video/mp4" },
      { src: "/videos/tom.webm", type: "video/webm" },
    ],
    name: "Tom MacMullen",
    position: "Wellness Ecommerce Executive Member",
    rating: 5,
  },
  {
    sources: [{ src: "/videos/max.mp4", type: "video/mp4" }],
    name: "Max Riseman",
    position: "Mental Health Advocate",
    rating: 5,
  },
  {
    sources: [{ src: "/videos/bentley.mp4", type: "video/mp4" }],
    name: "Bentley Walker",
    position: "Financial Consultant",
    rating: 5,
  },
];
---

<Layout
  preloadedImage={[heroBg, s3Bg, s4Bg, aLister, expLogo, riseupLogo]}
  renderNav={false}
>
  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->
  <Hero showHireBtn={false}>
    <Fragment slot="title">
      <span class="text-[clamp(1.8rem,6.4vw,6rem)] text-nowrap text-primary"
        >You’re One Step Away</span
      >
      <br />
      <span class="text-[clamp(1.8rem,6.4vw,6rem)] text-nowrap text-primary"
        >From Buying Back Your Time —</span
      >
      <br />
      <span class="text-[clamp(1.8rem,6.4vw,6rem)] text-nowrap text-primary"
        >So You Can Build What’s Next.</span
      >
    </Fragment>
    <Fragment slot="description"
      >Make sure to watch my video for you below.</Fragment
    >
  </Hero>

  <section class="relative z-1 overflow-clip px-4 py-section">
    <ImageWithBlur
      src={s3Bg}
      alt={"blur for bg"}
      blurSrc={s3Blur.src}
      class={"absolute inset-0 w-full h-full -z-1  "}
    />
    <div
      class="mx-auto aspect-video max-w-323.25 rounded-secondary bg-[#d9d9d9] p-2 md:p-8"
    >
      <iframe
        src="https://www.youtube.com/embed/voW54CMiBr4?autoplay=1&loop=0&playlist=voW54CMiBr4&controls=1&mute=0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
        class="h-full w-full rounded-secondary"
        title="Thanks you and see you"></iframe>
    </div>
  </section>

  <section id="use-case-section" class="relative px-4 py-section">
    <Image
      src={s4Bg}
      alt={"blur for bg"}
      class={"absolute inset-0 w-full h-full -z-1  "}
    />

    <div
      class="mx-auto flex w-full max-w-7xl flex-col items-center gap-12 lg:flex-row lg:items-start lg:justify-between"
    >
      <!-- Left content -->
      <div
        class="flex w-full max-w-md flex-col items-center text-left lg:max-w-76.25 lg:items-start"
      >
        <span
          class="mb-6.25 block font-roboto text-base leading-h font-bold tracking-widest text-accent uppercase"
        >
          testimonials
        </span>

        <!-- 3. Header with text gradient -->
        <h2
          class="m-0 mb-4 text-center font-roboto text-[clamp(2.5rem,5vw,3.0625rem)] leading-h font-bold tracking-normal text-primary md:text-nowrap lg:text-left"
        >
          What Our
          <br class="hidden md:inline" />
          Clients Say
        </h2>

        <p
          class="mx-auto mt-0 mb-8 w-full max-w-160 text-center font-roboto text-[clamp(1rem,1.95vw,1.25rem)] leading-[1.5em] font-normal tracking-normal text-secondary lg:text-left"
        >
          Hear from our happy clients who trusted us with their vision. Their
          feedback reflects our commitment to quality, creativity, and
          exceptional service.
        </p>
      </div>
      <div class="w-full lg:max-w-[860px]">
        <div
          class="grid grid-cols-1 gap-8 md:[grid-auto-rows:minmax(0,1fr)] md:grid-cols-3"
        >
          {
            reviewCards.map((card, i) => (
              <div
                class={`relative flex flex-col items-center justify-center rounded-2xl p-6 md:h-full`}
              >
                <video
                  controls
                  playsinline
                  preload="metadata"
                  poster={card.poster}
                  class="aspect-9/16 rounded-2xl bg-[#d9d9d9] p-3"
                >
                  {card.sources?.map((s) => (
                    <source src={s.src} type={s.type} />
                  ))}
                  Sorry, your browser doesn’t support HTML5 video.
                </video>

                {/* Stars */}
                <div class="mt-4 mb-3 flex justify-center gap-1">
                  {Array.from({ length: 5 }, (_, s) => (
                    <svg
                      class:list={[
                        "h-4 w-5",
                        s < card.rating
                          ? "fill-[#FFA500] text-[#FFA500]"
                          : "fill-gray-300 text-gray-300",
                      ]}
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                      aria-hidden="true"
                    >
                      <path d="M10 15l-5.878 3.09 1.123-6.545L.489 6.91l6.572-.955L10 0l2.939 5.955 6.572.955-4.756 4.635 1.123 6.545z" />
                    </svg>
                  ))}
                </div>

                <p class="m-0 text-center font-roboto text-[1.25rem] leading-h font-bold text-primary">
                  {card.name}
                </p>
                <p class="m-0 text-center font-inter leading-p text-pretty text-[#4e4b66]">
                  {card.position}
                </p>
                <Image
                  src={tyBg}
                  alt={"blur cyan purple bg"}
                  class={"absolute inset-0 -z-1 h-full w-full"}
                />
                <div class="absolute inset-0 -z-1 bg-white/60" />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
