---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

import appBg from "@assets/images/bg/app-sec-bg.png";
import appBgBlur from "@assets/images/bg/app-sec-bg-blur.png";

import asanaLogo from "@assets/images/applications-logos/asana_logo.png";
import clickupLogo from "@assets/images/applications-logos/clickup.png";
import googleCalendarIcon from "@assets/images/applications-logos/google_calendar_icon.png";
import googleWorkspaceLogo from "@assets/images/applications-logos/google_workspace_logo.png";
import metaPlatformsLogo from "@assets/images/applications-logos/meta_platforms_inc_logo.png";
import microsoftTeamsLogo from "@assets/images/applications-logos/microsoft_office_teams.png";
import mondayLogo from "@assets/images/applications-logos/monday_logo.png";
import notionLogo from "@assets/images/applications-logos/notion-logo.png";
import slackLogo from "@assets/images/applications-logos/slack_technologies_logo.png";
import zapierLogo from "@assets/images/applications-logos/zapier_logo.png";
import zoomLogo from "@assets/images/applications-logos/zoom_communications_logo.png";
import { getBlurStyle } from "@utils/imageOptimization";

export interface AppLogo {
  src: ImageMetadata;
  alt: string;
}

const appBlurStyle = getBlurStyle(appBgBlur.src);

// const { logos, } =
//   Astro.props;
const TITLE = "Our virtual assistants bring experience from";

const LOGOS: AppLogo[] = [
  { src: notionLogo, alt: "Notion" },
  { src: zoomLogo, alt: "Zoom" },
  { src: asanaLogo, alt: "Asana" },
  { src: slackLogo, alt: "Slack" },
  { src: googleWorkspaceLogo, alt: "Google Workspace" },
  { src: googleCalendarIcon, alt: "Google Calendar" },
  { src: microsoftTeamsLogo, alt: "Microsoft Teams" },
  { src: mondayLogo, alt: "Monday" },
  { src: clickupLogo, alt: "ClickUp" },
  { src: metaPlatformsLogo, alt: "Meta" },
  { src: zapierLogo, alt: "Zapier" },
] as const;
---

<!-- lg:pt-34 -->
<section class="relative overflow-hidden py-12 md:py-16 lg:pt-10 lg:pb-44">
  <div class="mx-auto px-4">
    <!-- Title -->
    {
      TITLE && (
        <h2 class="mx-auto mb-21.25 max-w-lg text-center text-[25px] leading-[130%] font-light text-primary italic md:text-[1.5625rem]">
          {TITLE}
        </h2>
      )
    }

    <!-- Logos Carousel -->
    <!-- overflow-x-auto -->
    <div
      class="scrollbar-hide mask-bg-3 relative mx-auto flex w-full items-center justify-end"
    >
      {
        [...Array(2)].map((_, i) => (
          <div
            aria-hidden={i === 1}
            class="grid animate-move-to-right grid-rows-1 gap-32.5 pl-32.5"
            style={`grid-template-columns: repeat(${LOGOS.length},1fr);`}
          >
            {LOGOS.map(({ src: Icon, alt }) => (
              <Image src={Icon} alt={alt} class="h-20 w-max object-contain" />

              // <div class:list={"h-20 w-max object-contain"}>
              //   <Icon class={"size-full"} />
              // </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>

  <Image
    src={appBg}
    class="absolute top-1/2 left-1/2 -z-1 -translate-1/2 scale-300 xs:scale-200 sm:scale-160 md:scale-130 lg:scale-90"
    alt={"blurred bg"}
    style={appBlurStyle}
  />
</section>
