---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import Logo from "@assets/images/logo/main-logo.png";
import navData from "@data/navData.json";
import clientData from "@data/client.json";
---

<!-- ============================================ --><!--                   Footer                     --><!-- ============================================ -->
<footer
  id="cs-footer-269"
  class="bg-primary px-4 py-[clamp(3.75rem,7.82vw,6.25rem)]"
>
  <div
    class="cs-container mx-auto flex w-full max-w-137.5 flex-wrap items-start justify-start gap-x-[clamp(4.25rem,10%,6.25rem)] md:max-w-5xl md:gap-y-0 md:px-6 lg:max-w-7xl"
  >
    <!-- Logo Group -->
    <div class="cs-logo-group relative w-full md:mr-auto md:w-auto">
      <a
        href="/"
        class="cs-logo mr-auto flex h-full items-center"
        aria-label="back to home"
      >
      </a>

      <a
        aria-label="go back to home"
        class="cs-logo mb-[clamp(.9rem,4.17vw,1.25rem)] block h-auto w-[clamp(13.125rem,8vw,15rem)]"
        href="/"
      >
        <Image
          src={Logo}
          class="-ml-5 h-49.75 w-auto"
          alt={"leiva assitant L with feather on top"}
        />
        <span
          class="font-bebas text-[clamp(1.25rem,3.9vw,2.8125rem)] leading-p text-primary-foreground uppercase select-none lg:text-[1.875rem]"
        >
          LEIVA ASSISTANTS
        </span>
      </a>
      <!-- margin: 0;
    max-width: 40.625rem;
    width: 100%;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    color: var(--bodyTextColor);
    text-align: center; -->
      <p
        class="m-0 mb-8 inline-flex w-full max-w-135 flex-col font-bebas leading-[100%] text-[#fafbfc]! md:mb-0 md:max-w-150 lg:gap-6"
      >
        <span class="text-[clamp(1.075rem,2.5vw,1.5625rem)]!"
          >VIRTUAL ASSISTANT WHO TAKE DAY-TO-DAY</span
        >
        <span
          class="text-[clamp(2rem,2.5vw,3.125rem)]! leading-8 md:leading-[100%]"
          >SO YOU CAN BUILD ON WHAT’S NEXT.</span
        >
      </p>
    </div>

    <!-- Links -->
    <ul class="cs-nav m-0 p-0 md:mt-[clamp(0.5rem,1.2vw,0.75rem)]">
      <li class="cs-nav-li mb-2 list-none leading-normal last:mb-0">
        <span
          class="cs-header relative mb-3.5 block text-base leading-normal font-bold text-white"
        >
          Sitemap
        </span>
      </li>
      {
        navData.map((item) => (
          <li class="cs-nav-li mb-2 list-none leading-[1.5] last:mb-0">
            <a
              class="cs-nav-link relative text-base leading-[1.5] text-white no-underline before:bg-accent!"
              href={item.url}
            >
              {item.key}
            </a>
          </li>
        ))
      }
    </ul>

    <!-- Contact Info -->
    <ul
      class="cs-contact m-0 flex w-auto flex-col self-stretch p-0 md:mt-[clamp(0.5rem,1.2vw,0.75rem)]"
    >
      <li class="cs-nav-li mb-2 list-none leading-[1.5] last:mb-0">
        <span
          class="cs-header relative mb-3.5 block text-base leading-[1.5] font-bold text-white"
        >
          Contact
        </span>
      </li>
      <li class="cs-contact-li mb-0 list-none last:mb-0">
        <a
          class="cs-contact-link inline-block text-left text-base leading-[1.5] text-white no-underline hover:underline"
          href={"tel:" + clientData.phoneForTel}
        >
          {clientData.phoneFormatted}
        </a>
      </li>
      <li class="cs-contact-li mb-0 list-none last:mb-0">
        <a
          class="cs-contact-link inline-block text-left text-base leading-[1.5] text-white no-underline hover:underline"
          href={"mailto:" + clientData.email}
        >
          {clientData.email}
        </a>
      </li>

      <!-- <a
            class="cs-social-link relative z-[1] flex h-6 w-6 items-center justify-center rounded-full bg-[#4e4b66] transition-all duration-300"
            aria-label="visit google profile"
            href=""
          >
            <Icon
              name="tabler:brand-google"
              class="cs-social-img block h-3.25 w-auto"
            />
          </a> -->

      <!-- Social Media -->
      <li class="cs-contact-li cs-social-group mt-auto mb-0 ml-auto list-none">
        <div class="cs-social inline-flex justify-start gap-3">
          <a
            class="cs-social-link relative z-1 flex h-6 w-6 items-center justify-center rounded-full bg-linear-to-b from-[#E329B0] to-[#46D4F0] transition-all duration-300 hover:-translate-y-0.75 hover:from-[#4e4b66] hover:to-[#4e4b66] hover:text-accent-foreground"
            aria-label="visit google profile"
            href={clientData.address.mapLink}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon
              name="tabler:brand-google"
              class="cs-social-img block h-3.25 w-auto"
            />
          </a>
          <a
            class="cs-social-link relative z-1 flex h-6 w-6 items-center justify-center rounded-full bg-linear-to-b from-[#E329B0] to-[#46D4F0] transition-all duration-300 hover:-translate-y-0.75 hover:from-[#4e4b66] hover:to-[#4e4b66] hover:text-accent-foreground"
            aria-label="visit instagram profile"
            href={clientData.instagram}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon
              name="tabler:brand-instagram-filled"
              class="cs-social-img block h-3.25 w-auto"
            />
          </a>
          <a
            class="cs-social-link relative z-1 flex h-6 w-6 items-center justify-center rounded-full bg-linear-to-b from-[#E329B0] to-[#46D4F0] transition-all duration-300 hover:-translate-y-0.75 hover:from-[#4e4b66] hover:to-[#4e4b66] hover:text-accent-foreground"
            aria-label="visit linkedin profile"
            href={clientData.linkedin}
            target="_blank"
            rel="noopener noreferrer"
          >
            <Icon
              name="tabler:brand-linkedin"
              class="cs-social-img block h-3.25 w-auto"
            />
          </a>
        </div>
      </li>
    </ul>
  </div>
</footer>

<style>
  /* Nav link underline animation */
  .cs-nav-link::before {
    content: "";
    width: 0%;
    height: 0.125rem;
    background: currentColor;
    opacity: 1;
    position: absolute;
    display: block;
    bottom: -0.125rem;
    left: 0;
    transition: width 0.3s;
  }

  .cs-nav-link:hover::before {
    width: 100%;
  }

  /* Social link hover effect */
  .cs-social-link:hover {
    background-color: var(--primary);
    transform: translateY(-0.1875rem);
  }
</style>
