---
import { ClientRouter } from "astro:transitions";
import client from "@data/client.json";
// import Header from '@components/Header.astro';
// import Footer from '@components/Footer.astro';
// import StickyButton from '@components/StickyButton.astro';
// import ScrollToTop from '@components/ScrollToTop.astro';
// import "@styles/root.less";
// import '@styles/dark.less';
import "../styles/global.css";
import { getOptimizedImage } from "../js/utils";

import ogImg from "@assets/images/og/site-og.jpg";

const ogImage = await getOptimizedImage(ogImg);

const {
  title = "Leiva Assistant",
  description = "Leiva Assistant",
  preloadedImage = ogImage,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <!-- <meta name="generator" content={Astro.generator} /> -->
  <head>
    <!-- View Transitions support -->
    <ClientRouter />

    <!-- Standard meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="keywords" content="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fjalla+One&family=Hammersmith+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="canonical"
      href={`https://${client.domain}${Astro.url.pathname}`}
    />

    <!-- Preloads the image passed as a prop -->
    <link rel="preload" href={preloadedImage.src} as="image" />
    <link rel="preload" href={ogImage.src} as="image" />

    <!--Social Media Display-->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={`https://${client.domain}${Astro.url.pathname}`}
    />
    <meta property="og:image" content={ogImage.src} />
    <meta property="og:image:secure_url" content={ogImage.src} />

    <!--Favicons-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicons/favicon-180x180.jpg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicons/favicon-32x32.jpg"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicons/favicon-16x16.jpg"
    />
    <link rel="manifest" href="/assets/favicons/favicon-180x180.jpg" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <!--For home page, use service keywords for the title, including location for SEO.
            Other pages should just include the page name.
            EXAMPLE:
            Home page - House Painting Contractors | Painters and Co. | TestCity, WA
            About Page - About us | Painters and Co.
            -->
    <title>
      {
        Astro.url.pathname === "/"
          ? `${title}
                |
                ${client.name}
                |
                ${client.address.city},
                ${client.address.state}`
          : `${title}
                    |
                    ${client.name}`
      }
    </title>
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
